---
import BurgerRankings from '../components/BurgerRankings.vue';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
<html>
  <head>
    <title>Burger Rankings</title>
  </head>
  <body>
    <main>
      <BurgerRankings />
    </main>
  </body>
</html>
</BaseLayout>