---
import NYGuesser from '../nyguesser/NYGuesser'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NYGuesser</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  </head>
  <body>
    <NYGuesser client:only="react" />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    padding: 0;
  }
</style>
